:root {
    --primary: #E74097;
    --secondary: #FFEDBC;
    --background: #18181A;
    --background2: #3E3238;
    --text: #FFFFFF;
}
@font-face {
    font-family: "bitcrusher";
    src: url('../fonts/bitcrusher-condensed-bd.otf') format("opentype");
}
@font-face {
    font-family: "inter";
    src: url('../fonts/Inter_18pt-Regular.ttf') format("opentype");
}
@font-face {
    font-family: "bebas-neue";
    src: url('../fonts/BebasNeue-Regular.otf') format("opentype");
}
@font-face {
    font-family: "inter-bold";
    src: url('../fonts/Inter_18pt-Bold.ttf') format("opentype");
}
body{
    margin: 0;
    padding: 0;

}

.main-page{
    width: 100%;
    height: 714px;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-objects-from-main-page{
    width: 1400px;
    height: 714px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.elements-from-main-page{
    width: 800px;
    height: 714px;
}
#top-text{
    width: 750px;
    color: var(--text);
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1px;
    font-family: Inter, sans-serif;
    position: absolute;
    left: 74px;
    top: 45px;
}
#photo-from-zero{
    width: 800px;
    font-weight: 700;
    margin: 0;
    font-size: 110px;
    color: var(--primary);
    line-height: 1;
    font-family: Bitcrusher, sans-serif;
    position: absolute;
    left: 74px;
    top: 75px;
}
#from-photo-to-career{
    width: 800px;
    font-weight: 1000;
    font-size: 110px;
    color: var(--text);
    line-height: 0.9;
    font-family: Bitcrusher, sans-serif;
    position: absolute;
    left: 74px;
    top: 110px;
}
#stimulation-1{
    width: 800px;
    color: var(--primary);
    font-size: 28px;
    font-weight: 700;
    line-height: 90%;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: bebas-neue, sans-serif;
    position: absolute;
    left: 74px;
    top: 300px;
}
#stimulation-2{
    width: 800px;
    font-size: 28px;
    font-weight: 700;
    line-height: 90%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--text);
    font-family: bebas-neue, sans-serif;
    position: absolute;
    left: 74px;
    top: 330px;
}
#information-from-main-page{
    width: 614px;
    font-size: 14px;
    color: var(--text);
    font-weight: 200;
    line-height: 23px;
    font-family: Inter, sans-serif;
    position: absolute;
    left: 74px;
    top: 395px;
}
.price-button{
    width: auto;
    height: 49px;
    display: flex;
    position: absolute;
    left: 74px;
    top: 500px;
}
#grn790{
    width: 151px;
    height: 49px;
    background-color: var(--secondary);
    color: #3B301F;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    font-family: Inter, sans-serif;
}
#grn7000{
    width: 151px;
    height: 49px;
    background-color: var(--text);
    color: #3B301F;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-decoration: line-through;
    font-family: Inter, sans-serif;
}
#Access-to-88{
    max-width: 313px;
    height: 88px;
    background-color: var(--primary);
    color: var(--text);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: balance;
    font-size: 17px;
    position: absolute;
    top: 70px;
    font-family: Inter, sans-serif;
}
.bonus-background{
    width: 352px;
    height: 145px;
    background-color: var(--secondary);
    border: none;
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    position: absolute;
    left: 426px;
    top: 515px;
}
.timer{
    width: 229px;
    height: 52px;
    background-color: var(--primary);
    color: var(--text);
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    font-size: 28px;
    position: absolute;
    left: 490px;
    top: 490px;
    font-family: inter, sans-serif;
}
#bold-text {
    color: #514e3e;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 90px;
    font-family: inter-bold, sans-serif;
    font-size: 12px;
    line-height: 17px;
}
#bonus-background-list-first{
    color: #6e6954;
    position: absolute;
    top: 50px;
    font-family: inter-bold, sans-serif;
    font-size: 12px;
    line-height: 17px;
}
#bonus-background-list-second{
    color: #6e6954;
    text-wrap: balance;
    position: absolute;
    top: 90px;
    font-family: inter-bold, sans-serif;
    font-size: 12px;
    line-height: 17px;
}
.img-woman-from-main-page{
    width: 512px;
    height: 100%;
    margin-right: 50px;
    margin-top: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-img_woman{
    width: 370px;
    height: 620px;
    background-color: var(--primary);
    margin-left: 60px;
    border-radius: 10px;
    position: absolute;
}
#img-woman{
    width: 512px;
    height: 687px;
    position: relative;
}
@media(max-width: 768px) {
    .main-page{
        width: 100%;
        height: 1250px;
        background-color: var(--background);
    }
    .all-objects-from-main-page{
        width: 100%;
        height: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .elements-from-main-page{
        width:760px;
        height: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #top-text{
        width: 380px;
        color: var(--text);
        margin: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 1px;
        position: absolute;
        top: 40px;
        left: 180px;
        font-family: Inter, sans-serif;
    }
    #photo-from-zero{
        width: 600px;
        font-weight: 700;
        margin: 0;
        font-size: 90px;
        color: var(--primary);
        text-align: center;
        line-height: 1;
        font-family: Bitcrusher, sans-serif;
    }
    #from-photo-to-career{
        width: 600px;
        font-weight: 1000;
        font-size: 90px;
        color: var(--text);
        text-align: center;
        line-height: 0.9;
        font-family: Bitcrusher, sans-serif;
    }
    #stimulation-1{
        width: 670px;
        color: var(--primary);
        font-size: 24px;
        font-weight: 700;
        line-height: 90%;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: bebas-neue, sans-serif;
        position: absolute;
        top: 250px
    }
    #stimulation-2{
        width: 670px;
        font-size: 24px;
        font-weight: 700;
        line-height: 90%;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        color: var(--text);
        font-family: bebas-neue, sans-serif;
        position: absolute;
        top: 280px
    }
    #information-from-main-page{
        width: 614px;
        font-size: 14px;
        color: var(--text);
        font-weight: 200;
        line-height: 23px;
        font-family: Inter, sans-serif;
        position: absolute;
        left: 74px;
        top: 1250px;
    }
    .price-button{
        width: auto;
        height: 49px;
        display: flex;
        position: absolute;
        top: 820px;
        left: 220px;
        z-index: 999;
    }
    #grn790{
        width: 151px;
        height: 49px;
        background-color: var(--secondary);
        color: #3B301F;
        border: none;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        font-family: Inter, sans-serif;
    }
    #grn7000{
        width: 151px;
        height: 49px;
        background-color: var(--text);
        color: #3B301F;
        border: none;
        border-radius: 10px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        text-decoration: line-through;
        font-family: Inter, sans-serif;
    }
    #Access-to-88{
        max-width: 313px;
        height: 88px;
        background-color: var(--primary);
        color: var(--text);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 30px 0 30px;
        font-size: 17px;
        position: absolute;
        top: 70px;
        font-family: Inter, sans-serif;
    }
    .timer-and-bonus-background{
        width: 352px;
        height: 200px;
        position: absolute;
        top: 520px;
        left: -195px;
        z-index: 999;
    }
    .bonus-background{
        width: 352px;
        height: 142px;
        background-color: var(--secondary);
        border: none;
        border-radius: 10px;
        display: flex;
        text-align: center;
        flex-direction: column;
        font-family: Inter, sans-serif;
        font-size: 12px;
        position: absolute;
        left: 396px;
        top: 515px;
    }
    .timer{
        width: 229px;
        height: 52px;
        background-color: var(--primary);
        color: var(--text);
        border: none;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        font-size: 28px;
        position: absolute;
        left: 460px;
        top: 490px;
        font-family: Inter, sans-serif;
    }
    #bold-text{
        font-weight: bold;
        position: absolute;
        top: 20px;
        left: 90px;
    }
    bonus-background-list-first{
        color: #6e6954;
        position: absolute;
        top: 50px;
        font-family: inter-bold, sans-serif;
        font-size: 12px;
        line-height: 17px;
    }
    #bonus-background-list-second{
        color: #6e6954;
        text-wrap: balance;
        position: absolute;
        top: 90px;
        font-family: inter-bold, sans-serif;
        font-size: 12px;
        line-height: 17px;
    }
    .img-woman-from-main-page{
        width: 512px;
        height: 100%;
        margin-top: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .background-img_woman{
        width: 370px;
        height: 370px;
        background-color: var(--primary);
        margin-left: 60px;
        border-radius: 10px;
        position: absolute;
        left: 50px;
        top: -180px;
    }
    #img-woman{
        width: 512px;
        height: 687px;
        position: absolute;
        left: 15px;
        top: -267px;
    }
}




