:root {
    --primary: #E74097;
    --secondary: #FFEDBC;
    --background: #18181A;
    --background2: #3E3238;
    --text: #FFFFFF;
}
@font-face {
    font-family: "bitcrusher";
    src: url('../fonts/bitcrusher-condensed-bd.otf') format("opentype");
}
@font-face {
    font-family: "inter";
    src: url('../fonts/Inter_18pt-Regular.ttf') format("opentype");
}
@font-face {
    font-family: "bebas-neue";
    src: url('../fonts/BebasNeue-Regular.otf') format("opentype");
}
@font-face {
    font-family: "tt-commons-regular";
    src: url('../fonts/TT-Commons-Regular.otf') format("opentype");
}

.section3{
    height: 577px;
    width: 100%;
    background-color: var(--background);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-element-from-section3{
    width: 100%;
    height: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#title-section3{
    height: 48px;
    width: auto;
    color: var(--text);
    margin: 0;
    font-weight: 400;
    font-size: 40px;
    font-family: tt-commons-regular, sans-serif;

}
.all-elements-section3{
    width: 1300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.elements-from-section3 {
    width: 272px;
    height: 309px;
    background-color: var(--background2);
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.img-container-from-section3{
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    position: relative;
}
.img-container-from-section3 img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: -30px;
}

.text-in-the-elements-from-section3-1{
    color: var(--text);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 0 25px;
    font-family: Inter, sans-serif;

}
.text-in-the-elements-from-section3-2{
    color: #B3B5B4;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    padding: 0 20px;
    font-family: Inter, sans-serif;
}
@media(max-width: 768px) {
    .section3{
        height: 1100px;
        width: 100%;
        background-color: var(--background);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .text-element-from-section3{
        width: 100%;
        height: 168px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #title-section3{
        height: 48px;
        width: auto;
        color: var(--text);
        margin: 0;
        font-weight: 400;
        font-size: 40px;
        font-family: tt-commons-regular, sans-serif;

    }
    .all-elements-section3{
        width: 600px;
        height: 800px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .elements-from-section3 {
        width: 272px;
        height: 309px;
        background-color: var(--background2);
        border-radius: 17px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .img-container-from-section3{
        width: 110px;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        position: relative;
    }
    .img-container-from-section3 img{
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: -30px;
    }

    .text-in-the-elements-from-section3-1{
        color: var(--text);
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        padding: 0 25px;
        font-family: Inter, sans-serif;

    }
    .text-in-the-elements-from-section3-2{
        color: #B3B5B4;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        padding: 0 20px;
        font-family: Inter, sans-serif;
    }
}